apiVersion: flomesh.io/v1alpha1
kind: IngressDeployment
metadata:
  name: ingress-deployment-102
  namespace: test-100
spec:
  serviceType: LoadBalancer
  ports:
  - name: http
    port: 102
    protocol: TCP
    nodePort: 30102
  env:
  - name: a1
    value: abc
  - name: b1
    value: xyz
  - name: c1
    value: nnn
  serviceAnnotations:
    flomesh.io/test1: fsm1
    flomesh.io/test2: fsm2
    flomesh.io/test3: fsm3
  resources:
    limits:
      cpu: 1234m
      memory: 521Mi
    requests:
      cpu: 123m
      memory: 17M
  nodeSelector:
    ingress-ready: "yes"
