{{- if and .Values.fsm.ingress.enabled (semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion) }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.fsm.ingress.service.name }}
  namespace: {{ include "fsm.namespace" . }}
  labels:
    {{- include "fsm.ingress-pipy.labels" . | nindent 4 }}
spec:
  type: {{ .Values.fsm.ingress.service.type }}
  {{- $setNodePorts := (or (eq .Values.fsm.ingress.service.type "NodePort") (eq .Values.fsm.ingress.service.type "LoadBalancer")) }}
  ports:
  - name: http
    port: {{ .Values.fsm.ingress.service.port }}
    protocol: TCP
    targetPort: ingress
    {{- if (and $setNodePorts (not (empty .Values.fsm.ingress.service.nodePorts.http))) }}
    nodePort: {{ .Values.fsm.ingress.service.nodePorts.http }}
    {{- end }}
  selector:
    {{- include "fsm.ingress-pipy.selectorLabels" . | nindent 4 }}
{{- end }}