apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.fsm.manager.name }}
  namespace: {{ include "fsm.namespace" . }}
  labels:
    {{- include "fsm.manager.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.fsm.manager.replicaCount }}
  selector:
    matchLabels:
      {{- include "fsm.manager.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "fsm.manager.labels" . | nindent 8 }}
        {{- include "fsm.manager.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - name: manager
        image: {{ include "fsm.manager.image" . }}
        imagePullPolicy: {{ .Values.fsm.image.pullPolicy }}
        ports:
        - name: webhook
          containerPort: {{ .Values.fsm.services.webhook.containerPort }}
        - name: health
          containerPort: 8081
        command:
        - /manager
        args:
        - --v={{ .Values.fsm.logLevel }}
        - --fsm-namespace={{- include "fsm.namespace" . }}
        - --config={{ .Values.fsm.configmaps.manager.filename }}
        resources:
          {{- toYaml .Values.fsm.manager.resources | nindent 10 }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        securityContext:
          allowPrivilegeEscalation: false
        volumeMounts:
        - name: {{ .Values.fsm.configmaps.manager.name }}
          mountPath: {{ printf "/%s" .Values.fsm.configmaps.manager.filename }}
          subPath: {{ .Values.fsm.configmaps.manager.filename }}
      volumes:
      - configMap:
          name: {{ .Values.fsm.configmaps.manager.name }}
        name: {{ .Values.fsm.configmaps.manager.name }}
      priorityClassName: system-node-critical
      terminationGracePeriodSeconds: 30
      serviceAccountName: {{ include "fsm.serviceAccountName" . }}
      {{- with .Values.fsm.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.fsm.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.fsm.affinity.enabled }}
      affinity:
        {{- with .Values.fsm.affinity.nodeAffinity }}
        nodeAffinity:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: flomesh.io/app
                  operator: In
                  values:
                  - {{ printf "%s-%s" .Chart.Name .Values.fsm.manager.name }}
              topologyKey: kubernetes.io/hostname
            weight: 100
      {{- end }}
      {{- with .Values.fsm.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}