apiVersion: batch/v1
kind: Job
metadata:
  name: "fsm-pre-delete"
  labels:
    {{- include "fsm.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": pre-delete
    "helm.sh/hook-weight": "5"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
spec:
  template:
    metadata:
      name: "fsm-pre-delete"
      labels:
        {{- include "fsm.labels" . | nindent 8 }}
    spec:
      containers:
      - name: uninstall
        image: {{ include "fsm.toolbox.image" . }}
        imagePullPolicy: {{ .Values.fsm.image.pullPolicy }}
        command:
        - sh
        - -c
        - |
          kubectl delete -f /manifests/
          kubectl delete -f /crds/
        volumeMounts:
        - mountPath: /manifests
          name: {{ .Values.fsm.configmaps.jobs.name }}
        - mountPath: /crds
          name: {{ .Values.fsm.configmaps.crds.name }}
      volumes:
      - configMap:
          name: {{ .Values.fsm.configmaps.jobs.name }}
        name: {{ .Values.fsm.configmaps.jobs.name }}
      - configMap:
          name: {{ .Values.fsm.configmaps.crds.name }}
        name: {{ .Values.fsm.configmaps.crds.name }}
      restartPolicy: Never
      serviceAccountName: {{ include "fsm.serviceAccountName" . }}
      {{- with .Values.fsm.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.fsm.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.fsm.affinity.enabled }}
      affinity:
        {{- with .Values.fsm.affinity.nodeAffinity }}
        nodeAffinity:
          {{- toYaml . | nindent 10 }}
        {{- end }}
      {{- end }}
      {{- with .Values.fsm.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}