apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.fsm.repo.name }}
  namespace: {{ include "fsm.namespace" . }}
  labels:
    {{- include "fsm.repo.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.fsm.repo.replicaCount }}
  selector:
    matchLabels:
      {{- include "fsm.repo.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "fsm.repo.labels" . | nindent 8 }}
        {{- include "fsm.repo.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - name: repo
        image: {{ include "fsm.pipy.image" . }}
        imagePullPolicy: IfNotPresent
        ports:
        - name: repo
          containerPort: {{ .Values.fsm.services.repo.containerPort }}
        command:
        - sh
        - -c
        - |
          /usr/local/bin/pipy --admin-port={{ .Values.fsm.services.repo.port }}
        resources:
          {{- toYaml .Values.fsm.repo.resources | nindent 10 }}
        livenessProbe:
          initialDelaySeconds: 1
          timeoutSeconds: 5
          tcpSocket:
            port: {{ .Values.fsm.services.repo.port }}
        readinessProbe:
          initialDelaySeconds: 1
          timeoutSeconds: 5
          tcpSocket:
            port: {{ .Values.fsm.services.repo.port }}
      priorityClassName: system-node-critical
      terminationGracePeriodSeconds: 30
      serviceAccountName: {{ include "fsm.serviceAccountName" . }}
      {{- with .Values.fsm.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.fsm.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.fsm.affinity.enabled }}
      affinity:
        {{- with .Values.fsm.affinity.nodeAffinity }}
        nodeAffinity:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: flomesh.io/app
                  operator: In
                  values:
                  - {{ printf "%s-%s" .Chart.Name .Values.fsm.repo.name}}
              topologyKey: kubernetes.io/hostname
            weight: 100
      {{- end }}
      {{- with .Values.fsm.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}