name: Publish Docker image - DEV
on:
  push:
    branches:
      - develop
      - 'feature/**'
      - 'hotfix/**'

jobs:
  push_to_registry:
    name: Build and Push Docker image to Docker Hub - DEV
    runs-on: ubuntu-20.04
    strategy:
      max-parallel: 5
      matrix:
        id: [ "manager", "proxy-init", "cluster-connector", "bootstrap", "ingress-pipy" ]
    steps:
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1.2.0

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1.7.0

    - name: Login to DockerHub
      uses: docker/login-action@v1.14.1
      with:
        username: ${{ secrets.FLOMESH_DOCKERHUB_USERNAME }}
        password: ${{ secrets.FLOMESH_DOCKERHUB_PASSWORD }}

    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Docker meta - ${{ matrix.id }}
      id: docker_meta
      uses: crazy-max/ghaction-docker-meta@v3.8.0
      with:
        images: flomesh/fsm-${{ matrix.id }}
        tags: |
          type=raw,dev

    - name: Build and Push ${{ matrix.id }} - DEV
      uses: docker/build-push-action@v2.10.0
      with:
        context: .
        file: ./dockerfiles/${{ matrix.id }}/Dockerfile
        platforms: linux/amd64,linux/arm64
        push: true
        tags: ${{ steps.docker_meta.outputs.tags }}
        labels: ${{ steps.docker_meta.outputs.labels }}
        cache-from: type=registry,ref=flomesh/fsm-${{ matrix.id }}:buildcache
        cache-to: type=registry,ref=flomesh/fsm-${{ matrix.id }}:buildcache,mode=max
